* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }
  a :visited {
    color: #000; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.site-container {
  overflow: hidden; }

.fixed-container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 886px) {
    .header-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo-img {
  width: 142px;
  height: 42px; }

.logo-text {
  font-size: 14px;
  color: #0096DC;
  width: 220px;
  margin-left: 20px; }
  @media (max-width: 1210px) {
    .logo-text {
      margin-right: 30px; } }
  @media (max-width: 1088px) {
    .logo-text {
      display: none; } }

.header-btn {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  border: solid 2px #55a831;
  background-color: transparent;
  color: #55a831;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer; }
  @media (max-width: 886px) {
    .header-btn {
      margin: 20px 0; } }
  .header-btn p {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left; }

.header-btn-img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 15px; }

.work-time {
  color: #333333;
  padding-left: 50px;
  background: url(../img/clock.png) no-repeat left center;
  margin-right: 65px; }
  .work-time span {
    font-size: 14px; }
  .work-time-mode {
    font-size: 18px;
    font-weight: 600;
    margin-top: 9px; }

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

address {
  font-style: normal; }
  address .phone {
    font-size: 23px;
    color: #333333;
    display: block;
    font-weight: bold;
    padding-left: 35px;
    background: url(../img/phone.png) no-repeat left center; }
  address .callback-btn {
    display: block;
    color: #0089cc;
    text-decoration: underline;
    font-size: 15px;
    text-align: right;
    margin-top: 14px; }

#callback {
  display: none; }

#callback-form span {
  font-size: inherit;
  text-transform: none; }

#callback-form button {
  line-height: 40px; }

/* ============================first block========================= */
.first-block {
  background: url(../img/bg-1.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 886px) {
    .first-block {
      padding-top: 50px;
      padding-bottom: 50px; } }

.first-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 812px) {
    .first-block-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }

@media (max-width: 812px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 930px) {
    .advantages__list {
      width: 250px; } }
  @media (max-width: 812px) and (min-width: 540px) {
    .advantages__list {
      width: 100%; } }
  .advantages__list-item:first-child {
    margin-top: -5px; }
  .advantages__list-item:not(:last-child) {
    margin-right: 20px; }
  @media (max-width: 930px) {
    .advantages__list-item:nth-child(2) {
      margin-right: 0; } }
  @media (max-width: 812px) and (min-width: 540px) {
    .advantages__list-item:nth-child(2) {
      margin-right: 20px; } }

.main-title {
  font-size: 26px;
  margin-top: 19px; }
  @media (max-width: 812px) {
    .main-title {
      text-align: center; } }
  .main-title span {
    font-size: 55px; }
    @media (max-width: 886px) {
      .main-title span {
        font-size: 45px; } }

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 370px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 50px; }
  .main-form small {
    font-size: 11px;
    color: #666666;
    text-align: center;
    margin-top: 20px; }
  .main-form input {
    padding: 22px 68px;
    border: solid 1px #d1d1d1;
    border-radius: 10px;
    outline: none;
    font-size: 15px; }

.form-title {
  font-size: 20px;
  text-align: center; }
  .form-title span {
    font-size: 24px;
    text-transform: uppercase; }

.name-input {
  margin-top: 40px; }

.phone-input {
  margin: 20px 0; }

.form-btn {
  padding: 0 38px;
  line-height: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
  box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
  border: solid 1px #ffc600;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffed26), to(#ffb400));
  background: -webkit-linear-gradient(bottom, #ffed26, #ffb400);
  background: -o-linear-gradient(bottom, #ffed26, #ffb400);
  background: linear-gradient(to top, #ffed26, #ffb400);
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  outline: none;
  text-transform: uppercase; }

/* ============================second-block========================= */
.second-block {
  padding-top: 80px;
  padding-bottom: 103px; }
  @media (max-width: 826px) {
    .second-block {
      padding: 40px 0; } }

.line {
  text-align: center;
  margin: 23px 0 83px; }
  @media (max-width: 826px) {
    .line {
      margin-bottom: 30px;
      margin-top: 20px; } }

.section-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase; }
  @media (max-width: 826px) {
    .section-title {
      font-size: 24px; } }

/* ==============tabs========= */
.tabs {
  /* overflow: scroll; */ }

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  overflow: scroll; }

.tabs-content {
  overflow: scroll; }

.tab-list > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  width: 100%; }
  .tab-list > ul li {
    max-width: 140px;
    text-align: center; }
    @media (max-width: 760px) {
      .tab-list > ul li:not(:last-child) {
        margin-right: 20px; } }
    .tab-list > ul li img {
      margin-bottom: 30px; }
    .tab-list > ul li a {
      color: #249ae6; }
    .tab-list > ul li .active-link {
      color: #464646; }

.tab-pane {
  display: none; }

.faded {
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.faded.in {
  opacity: 1;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.active {
  display: block; }

/* ==============tabs========= */
.window-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 812px) {
    .window-types {
      width: 773px; } }

.window-title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 0 29px; }

.window-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.window {
  padding: 0 60px 48px; }
  @media (max-width: 1250px) {
    .window {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 812px) {
    .window {
      padding-left: 20px;
      padding-right: 20px; } }
  .window ul {
    margin-top: 30px; }
  .window ul li {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    padding-left: 30px;
    background: url(../img/check.png) no-repeat left center; }
    @media (max-width: 812px) {
      .window ul li {
        font-size: 12px; } }

.cold-window {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 143, 227, 0.1)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(13, 143, 227, 0.1), #ffffff);
  background: -o-linear-gradient(top, rgba(13, 143, 227, 0.1), #ffffff);
  background: linear-gradient(to bottom, rgba(13, 143, 227, 0.1), #ffffff);
  border-top: 5px solid #0d8fe3;
  border-radius: 5px; }
  .cold-window .window-title {
    color: #0d8fe3; }

.warm-window {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 185, 3, 0.1)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 185, 3, 0.1), #ffffff);
  background: -o-linear-gradient(top, rgba(255, 185, 3, 0.1), #ffffff);
  background: linear-gradient(to bottom, rgba(255, 185, 3, 0.1), #ffffff);
  border-top: 5px solid #ffb903;
  border-radius: 5px; }
  .warm-window .window-title {
    color: #ffb903; }

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 43px; }
  @media (max-width: 1028px) {
    .price-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.space-count {
  font-size: 20px;
  color: #000;
  font-weight: bold; }
  .space-count span {
    font-weight: normal;
    font-size: 14px;
    display: block;
    margin-top: 15px; }

.price-btn {
  padding: 0 36px;
  line-height: 69px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
  box-shadow: 0px 2px 20px 0 rgba(255, 153, 0, 0.4);
  border: solid 1px #ffc600;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffed26), to(#ffb400));
  background: -webkit-linear-gradient(bottom, #ffed26, #ffb400);
  background: -o-linear-gradient(bottom, #ffed26, #ffb400);
  background: linear-gradient(to top, #ffed26, #ffb400);
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  outline: none; }

/* ==================third block======================= */
.third-block {
  background-color: #f7f7f7;
  padding-top: 79px; }
  @media (max-width: 826px) {
    .third-block {
      padding-top: 40px; } }

.decoration-types ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600; }
  @media (max-width: 826px) {
    .decoration-types ul {
      font-size: 16px; } }
  .decoration-types ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .decoration-types ul a {
    color: #000;
    line-height: 90px;
    padding: 0 34px; }
    @media (max-width: 1211px) {
      .decoration-types ul a {
        line-height: 1;
        padding-top: 20px;
        text-align: center; } }

.active-decor {
  color: #0085db;
  border-top: 10px solid #0085db;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)); }

.decoration-types .type-list li::after {
  content: url(../img/borderline.png);
  opacity: 0.05; }

.decoration-types ul li:last-of-type::after {
  content: ""; }

.decoration-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 80px; }
  @media (max-width: 1196px) {
    .decoration-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .decoration-content .main-form {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; } }
  @media (max-width: 826px) {
    .decoration-content {
      margin-top: 0;
      padding-bottom: 40px; } }

.example-img {
  max-width: 300px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.types-tabs {
  overflow: scroll; }

.decoration-tabs .dec-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.materials {
  padding: 30px 66px 0 35px; }
  @media (max-width: 1237px) {
    .materials {
      padding-right: 30px;
      padding-left: 30px; } }
  @media (max-width: 826px) {
    .materials {
      padding-right: 0; } }

.materials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .materials ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 70px; }
    @media (max-width: 826px) {
      .materials ul li {
        margin-right: 20px;
        margin-bottom: 50px; } }
  .materials ul img {
    width: 70px;
    height: 70px; }

.material-description {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.material-title {
  font-size: 11px;
  font-weight: bold;
  width: 90px; }

.material-subtitle {
  font-size: 10px;
  color: #000;
  margin: 0; }
  .material-subtitle span {
    color: #0d8fe3;
    font-weight: bold;
    font-size: 14px;
    display: block; }

.dec-tabs {
  display: none; }

/* ===========4th block========= */
.forth-block {
  padding-top: 80px; }
  @media (max-width: 826px) {
    .forth-block {
      padding-top: 40px; } }

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  @media (max-width: 900px) {
    .portfolio {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.portfolio-item {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer; }
  .portfolio-item .zoom-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    visibility: hidden; }
  .portfolio-item .portfolio-img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .portfolio-item :hover + .zoom-img {
    visibility: visible;
    pointer-events: none; }
  @media (max-width: 900px) {
    .portfolio-item {
      margin-right: 20px; } }
  @media (max-width: 550px) {
    .portfolio-item {
      margin-right: 0;
      margin-bottom: 20px; } }

/* ===============5th block=========== */
.fifth-block {
  background: -webkit-gradient(linear, left top, left bottom, from(#0084cc), to(#2db7f8));
  background: -webkit-linear-gradient(top, #0084cc, #2db7f8);
  background: -o-linear-gradient(top, #0084cc, #2db7f8);
  background: linear-gradient(to bottom, #0084cc, #2db7f8);
  padding-top: 80px; }
  .fifth-block .section-title {
    color: #ffffff; }

.features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }
  @media (max-width: 499px) {
    .features ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .features ul li {
    width: 30%;
    margin-bottom: 80px; }
    @media (max-width: 499px) {
      .features ul li {
        margin-bottom: 30px;
        width: 100%; } }
  .features ul .feature-description {
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    font-weight: 600; }
    @media (max-width: 499px) {
      .features ul .feature-description {
        margin-top: 20px; } }

/* ===============6th block=========== */
.sixth-block {
  padding-top: 80px; }
  @media (max-width: 826px) {
    .sixth-block {
      padding-top: 40px; } }

@media (max-width: 969px) {
  .payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.payment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  padding: 88px 60px 88px 0; }
  @media (max-width: 969px) {
    .payment ul {
      padding: 40px 40px 40px 0;
      font-size: 18px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .payment ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 969px) {
      .payment ul li {
        margin: 20px 0;
        width: 100%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start; } }
    .payment ul li img {
      -o-object-fit: none;
      object-fit: none; }
    .payment ul li p {
      margin-left: 30px; }
      @media (max-width: 969px) {
        .payment ul li p {
          margin-left: 20px; } }

/* ================================7th block============================= */
.seventh-block {
  background: url(../img/bg-2.jpg) no-repeat center center;
  background-size: cover; }
  .seventh-block-content {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 80px; }
    @media (max-width: 826px) {
      .seventh-block-content {
        padding-bottom: 40px;
        padding-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .seventh-block-left {
    text-align: center; }

.discount {
  font-size: 48px;
  color: #008cce;
  text-transform: uppercase; }
  @media (max-width: 826px) {
    .discount {
      font-size: 34px; } }
  .discount-subtitle {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: normal; }
    @media (max-width: 826px) {
      .discount-subtitle {
        font-size: 20px;
        margin: 20px 0; } }

.time-counter {
  display: inline-block;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  padding: 21px 25px 18px;
  text-align: center; }
  @media (max-width: 826px) {
    .time-counter {
      margin-bottom: 20px; } }
  .time-counter .countdown-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 18px; }
  .time-counter .countdown-number {
    display: inline-block; }

/* ================================8th block============================= */
.eigth-block {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 826px) {
    .eigth-block {
      padding: 40px 0; } }

.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 719px) {
    .places {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.map {
  max-width: 570px;
  margin-right: 30px;
  width: 100%;
  height: 100%; }
  @media (max-width: 719px) {
    .map {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }
  .map iframe {
    border: none;
    width: 100%;
    height: 470px; }

.contact-container {
  margin-bottom: 30px; }

.contact-type {
  font-size: 15px;
  color: #008cce; }

.contact-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-top: 14px; }
  .contact-text a {
    color: #000; }
  .contact-text .email {
    text-decoration: underline; }

/* ================================questions block============================= */
.questions {
  background-color: #00a0eb;
  text-align: center;
  color: #fff;
  padding: 85px 0;
  font-size: 30px; }
  @media (max-width: 826px) {
    .questions {
      padding: 40px 0;
      font-size: 26px; } }
  .questions a {
    margin-left: 30px;
    color: #fff;
    text-decoration: underline; }

/* ================================footer============================= */
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 0; }
  .footer-content img {
    -o-object-fit: none;
    object-fit: none; }
  @media (max-width: 644px) {
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.footer-logo {
  margin: 30px 0; }

.footer-address .footer-phone {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px; }

.footer-address .email {
  font-size: 14px;
  color: #0090d5;
  font-weight: normal;
  text-decoration: underline; }
